# Cache/options directory used by clangd
.clangd

# IntelliJ IDEA
.idea
*.iml

# Visual Studio and VS Code
.vs
.vscode

# Build directories
build

# CMake build configuration used by clangd and VS
CMakeSettings.json
compile_commands.json
